body {
  font-family: sans-serif;
  background: rgb(229, 211, 179);
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar content";
  grid-template-rows: 85px 1fr;
  grid-template-columns: 200px 1fr;
}

.container > header {
  grid-area: header;
  background-color: rgb(152, 117, 84);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container > .sidebar {
  grid-area: sidebar;
  background-color: rgb(185,153,118);
  height: 100vh;
}

.container > .content {
  grid-area: content;
  background-color: rgb(229, 211, 179);
  display: grid;
  grid-template-areas:
  "game queue"
  "game chat";
  grid-template-rows: 310px 1fr;
  grid-template-columns: 800px 1fr;
}

.container > .content > .auth {
  background-color: white;
  margin: 50px;
}

.container > .content > .game {
  grid-area: game;
  background-color: white;
  margin: 50px;
}

.container > .content > .queue {
  grid-area: queue;
  background-color: white;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.container > .content > .chat {
  grid-area: chat;
  background-color: white;
  margin-right: 50px;
  margin-bottom: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 1450px;
  padding: 0;
}

nav .nav-item {
  color: rgb(229, 211, 179);
  padding: 30px 1.5vw;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.2s linear;
}

nav .nav-item:hover {
  color: rgb(60, 45, 30);
  cursor: pointer;
}

hr {
  background-color: rgb(229, 211, 179);
  height: 2px;
  border: 0;
  margin-top: 50px;
}

.current-room {
  display: flex;
  align-items: center;
  color: rgb(229, 211, 179);
  background-color: rgb(152, 117, 84);
  padding: 15px;
}

.current-room > .count {
  background-color: rgb(185,153,118);
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
}

.room {
  display: flex;
  align-items: center;
  color: rgb(60, 45, 30);
  padding: 15px;
}

.room > .count {
  background-color: rgb(152, 117, 84);
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
}

.room:hover {
  color: rgb(229, 211, 179);
  background-color: rgb(152, 117, 84);
  cursor: pointer;
}

.room:hover .count{
  background-color: rgb(185,153,118);
}

.disable {
  pointer-events: none;
  display: flex;
  align-items: center;
  color: gray;
  padding: 15px;
}

.disable > .count {
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.auth-header {
  background-color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.auth-greeting {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  background-color: rgb(236,241,231);
}

.auth-message {
  font-size: 1.2em;
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(236,241,231);
}

.auth-form {
  font-size: 1.2em;
  margin: 50px;
  padding: 50px;
  background-color: rgb(217, 227, 206);
}

.auth-input {
  border: none;
  height: 50px;
  width: 100%;
  font-size: 1em;
  margin-bottom: 50px;
}

.auth-button {
  border: none;
  height: 50px;
  width: 100%;
  font-size: 1em;
  color: white;
  background-color: rgb(181, 194, 169);
}

.auth-button:hover {
  background-color: rgb(177, 62, 42);
  cursor: pointer;
}

.room-header {
  display: flex;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  background-color: rgb(236,241,231);
  /* background-color: rgb(242, 233, 217); */
}

.chess {
  position: relative;
  width: 600px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.modal {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.modal-buttons > *:hover {
  color: white;
  background-color: rgb(177, 62, 42);
  cursor: pointer;
}

.modal-buttons > *:disabled {
  color: white;
  background-color: gray;
}

.modal-message {
  font-size: 1.5em;
  color: white;
  margin: 10px;
}

.modal-timer {
  font-size: 1.7em;
  color: white;
}

.white-button {
  color: black;
  background-color: white;
  border: none;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

.black-button {
  color: white;
  background-color: black;
  border: none;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

.play-again-button {
  color: white;
  background-color: rgb(0, 179, 44);
  border: none;
  padding: 10px 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgb(217, 227, 206);
}

.buttons > .bad {
  background-color: rgb(220, 61, 42);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.buttons > .good {
  background-color: rgb(0, 179, 44);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.buttons > .neutral {
  background-color: rgb(0, 140, 242);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.buttons > *:hover {
  background-color: rgb(177, 62, 42);
  cursor: pointer;
}

.buttons > *:disabled {
  background-color: gray;
}

.player {
  width: 250px
}

.chat-box {
  height: 360px;
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  background-color: rgb(217, 227, 206);
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.chat-bar {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

.chat-input {
  width: 90%;
  height: 40px;
  font-size: 1em;
}

.chat-button {
  width: 10%;
  color: white;
  background-color: rgb(181, 194, 169);
  border: none;
  font-size: 1em;
}

.chat-button:hover {
  background-color: rgb(177, 62, 42);
  cursor: pointer;
}

.chat-button:disabled {
  background-color: gray;
}
